body {
    background-color: #000000;
	margin: 0;
}
p {
    font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 14;
	margin: 0;
    padding: 0;
}
h1 {
	font-family: "Trebuchet MS", Arial, serif;
	font-size: 34;
    color: #000000;
	margin: 0;
    padding: 0;
}

.header{
    width:100%;
    background-image: url("images/bg.jpg");
	background-position: center;
	background-size: cover;
    margin: auto;
	position: relative;
	text-align: center;
}
.bar{
width:100%;
background-color: rgba(0,0,256,0.2);
margin: auto;
padding: 4px;
position: relative;
}
.content {
    width:80%;
    background: #ffffff;
    margin: auto;
	position: relative;
}
li.tumblr_post { margin-bottom: 00px; border: none; padding: 0px 0px;  list-style: none; overflow: none; font-family:Arial; }
img.tumblr_photo { padding-top: 0px; }
li.tumblr_link_post, li.tumblr_video_post { padding: 0px; }
div.tumblr_body p b { width: auto; border: 0px solid #999; margin-left: 0px; margin-right: 0px; padding: 0px;  align: auto; }
div.tumblr_title { font-family: Trebuchet MS; font-size: 200%; text-decoration: underline; }